.episode__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.episode__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 140px;
}
